<% flash.each do |key, value| %>
  <%= content_tag(:p,value,class: key) %>
<% end %>
<p class="m_33"><strong>Title:</strong><%= @book.title %></p> 
<p class="m_33"><strong>Body:</strong><%= @book.body %></p> 

<div>
  <%= link_to 'Edit',edit_book_path(@book.id) %> | <%= link_to 'Back',books_path %>
</div>